*{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
}

.header{
  background-color: #c72828;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

.header .header_container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: 32px;
}

.header > div{
height: 100%;

}

.header .logo_container{
  flex: 5;
  display: flex;
  align-items: center;
}

.header .logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px ;
  width: 230px;
}

.header .logo h1, .header .logo p{
  color: #fff
}

.header .button{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .button > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 12px;
  background-color: #39b100;
  width: 200px;
  height: 40px;

}

.button_body_new{
  justify-content: center;
  align-items: center;
  flex: 3;
  display: flex;
  padding: 12;
  font-weight: bold;
  
}

.button_body_icon{
  display: flex;
  background-color: #41c900;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card{
  background-color: rgba(240,240, 245, 1);
  width: 250px;
  border-radius: 18px;
}

.card .image{
  background-color: rgb(226,190, 72 );
  width: 100%;
  height: 150px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card .image img{
width: 80%;
margin-top: 34px;
}

.card .content{
  padding: 12px 32px;
}

.card .footer {
  background-color: rgba(228, 228, 235, 1);
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.card .footer div{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card .footer button{
  border: none;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
}

.category_list{
  width:70%;
  margin: 0 auto;
  margin-top: -50px;
  /*overflow-y:scroll;*/
}

.category_list .category_content{
  margin: auto;
  text-align: center;
  width: 85%;
}

.category_list .category_content .card{
  float: left;
  margin: 5px;
}

.modal_orvelay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_container{
  border: 1px solid #ffffff;
  width: 70%;
  max-width: 800px;
  height: 580px;
  border-radius: 12px;
  background-color: #eee;
 display: flex;
 flex-direction: column;
}

.modal_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15;
}

.modal_content{
  flex: 1;
}

.button_group{
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px;
}


.form_input{
  padding: 12px 24px;
  border: 1px solid #333;
  color: #000;
  border-radius: 8px;
  background-color: #eee;
}

.form_select{
  padding: 12px 24px;
  border: 1px solid #333;
  color: #000;
  border-radius: 8px;
  background-color: #eee;
}


.button_primary {
  background-color: #39b100;
  padding: 12px 24px;
  color: #000;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  flex: 1;
}


.butto_reset {
  background-color: #aaa;
  padding: 12px 24px;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  flex: 1;
}

.form text{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.menu{
  
  
}

.menu ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  padding-left: 52px;
  
}

.menu li{

}


.menu li a{
  color: #fff;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

.menu ul li a:hover{
  background-color: rgba(255,255,255,0.6);
}


.title{
border: 1px solid #39b100;
margin-top: -40px;
height: 100%;
color: #ffffff;
font-family: 'Times New Roman';
}

.home-descricao{
  display: flex;
  justify-content: space-between;
  
}

.home-descricao p{
  font-size: 30px;
  font-family: 'Times New Roman';
  text-align: justify;
  border: solid 1px;
}

.text-ellipse{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}